# КОММЕНТАРИЙ РЕВЬЮВЕРА
Привет Константин!)

Меня зовут Сибирев Владислав, я осуществлял проверку проекта. Может перейдем сразу на <b>ты</b>? Если это неприемлемо, то обязательно дай знать)

Далее по ходу работы ты сможешь встретить мои комментарии, они будут отмечены разными цветами:

<div class="alert alert-block alert-success">
 ✔️ Похвала и возможности развития
</div>
<div class="alert alert-block alert-warning">
⚠️ Некритичные замечания, но стоит обратить внимание
</div>
<div class="alert alert-block alert-danger">
❌ Грубая ошибка, необходимо исправить
</div>


Заранее прошу не удалять мои комментарии, это важно. Если у тебя возникнут вопросы, обозначь их, я с радостью тебе помогу!)

Как вариант, можешь обозначить их так:
<div class="alert alert-block alert-info">
 Комментарий студента 
            </div>

# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

<div class="alert alert-block alert-success">
<b>Комментарий ревьюера:</b> 

✔️ Так как первая часть является автоматической, то я просто буду в ней давать рекомендации, которые ты можешь использовать в дальнейшем))<br>
P.S. Любой проект нужно начинать с описания)) 
  </div>

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

<div class="alert alert-block alert-success">
<b>Комментарий ревьюера:</b> 

✔️ Молодец, что используешь конструкцию __try и except__<br>
P.S. Для следующих проектов нужно импортировать библиотеки в отдельной ячейке) Это позволяет быстро сориентироваться, что нужно для запуска проекта, если кто-то будет запускать его в другом окружении.
  </div>

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

<div class="alert alert-block alert-success">
<b>Комментарий ревьюера:</b> 

✔️ Также в последствии можно использовать метод describe(), он показывает некоторые статистические данные, в общем тоже полезный метод https://www.javatpoint.com/pandas-dataframe-describe#:~:text=The%20describe()%20method%20is,sets%20of%20mixed%20data%20types.
  </div>

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

<div class="alert alert-block alert-success">
<b>Комментарий ревьюера:</b>

✔️ Изучить долю пропущенных пропусков можно еще с помощью `data.isna().mean()*100`
  </div>

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    #data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    #data.loc[(data['income_type'] == t), 'total_income'].median()
    data['total_income'] = data['total_income'].fillna(data.groupby(['income_type'])['total_income'].transform('median'))

<div class="alert alert-block alert-success">
<b>Комментарий ревьюера:</b>

 ✔️  Можно также использовать следующую конструкцию `data['total_income'] = data['total_income'].fillna(data.groupby(['income_type'])['total_income'].transform('median'))`
Функция transform() в принципе полезная https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.transform.html
  </div>

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

<div class="alert alert-block alert-success">
<b>Комментарий ревьюера:</b>

 ✔️  Все верно, можно еще использовать query(), который позволяет работать с нужными данными) https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html
  </div>

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

<div class="alert alert-block alert-success">
<b>Комментарий ревьюера:</b>

✔️  От дубликатов избавился, молодец)
  </div>

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

<div class="alert alert-block alert-success">
<b>Комментарий ревьюера:</b>

✔️  Функцию написал правильную, молодец, но применение функции лучше проверять с помощью `value_counts`, вдруг какое то условие не сработало)

  </div>

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

<div class="alert alert-block alert-success">
<b>Комментарий ревьюера:</b>

✔️ Здесь порядок, но лучше проверять всегда работает ли функция))
  </div>

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
#распределим клиентов по категориям в зависимости от количества детей
def categorize_children(child):
    try:
        if child == 0:
            return 'бездетный'     
        elif child == 1:
            return 'один ребенок'
        elif child == 2:
            return 'двое детей'
        elif child >= 3:
            return 'многодетный'
    except:
        pass

In [23]:
#создаем отдельный столбец с категориями, и записываем значения, возвращаемые функцией
data['children_category'] = data['children'].apply(categorize_children)

In [24]:
#групируем по столбцу и применяем агрегирующую функцию, затем сортируем по убыванию и добавляем форматирование
data.groupby(['children_category']).agg({'debt': ('count', 'sum', 'mean')}).droplevel(0, axis=1).reset_index().sort_values('mean', ascending=False).style.format({'mean': '{:.1%}'})

<div class="alert alert-block alert-warning">
<b>Комментарий ревьюер:</b> 

⚠️ По таблице нет вопросов, но что можно улучшить (это касается изучение всех взаимосвязей). Для красоты лучше избавляться от мультииндексов, убери один уровень с помощью `droplevel(0, axis=1)`, а затем сбрось все значения с помощью `reset_index()`

**Вывод:** 
в результате проведения финансового анализа, по коэффициентам, имеющим четкие числовые критерии, экспертным путем присвоено распределение по категориям, представленное в таблице. как видно по таблице, в структуре просроченных кредитов преобладают заемщики категории 'двое детей' и 'один ребенок', что составило 9,5% и 9,2% соотвественно, а также в совокупности категориий их доля составила около 32%; 
доля просрочек для заемщиков категории 'бездетный' составила 7,5%, что можно оценить как наименьшую вероятность нарушения условий кредитования, при этом их доля, в совокупности категориий, составила 66%;
долю просрочек для заемщиков категории 'многодетный' можно проигнорировать, в связи с небольшой выборкой;

In [25]:
<div class="alert alert-block alert-danger">
<b>Комментарий ревьюера:</b> 

❌ Не бойся использовать в выводах цифры. Акцент должен был сделать на сбалансированности выборок. Примерно выводы будут выглядеть так: 
`люди, которые не имеют детей, лучше всего отдают кредит, доля должников здесь составляет с 7,5%, хуже обстоит дело с кредиторами, кто имеет одного или двух детей, здесь доля невозврата составляет соответственно 9,2% и 9,4%. Остальные категории уже некорректно сравнивать, так как в них очень маленькая выборка`)) <br>

SyntaxError: invalid character '❌' (U+274C) (1171778124.py, line 4)

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [ ]:
#групируем по столбцу и применяем агрегирующую функцию, затем сортируем по убыванию и добавляем форматирование
data.groupby(['family_status']).agg({'debt': ('count', 'sum', 'mean')}).droplevel(0, axis=1).reset_index().sort_values('mean', ascending=False).style.format({'mean': '{:.1%}'})

**Вывод:** по результатам исследования видно, что в структуре просроченных кредитов преобладают заемщики категории 'Не женат/не замужем' и 'гражданский брак', что составило 9,8% и 9,3% соотвественно, и в совокупности категорий их доля составила около 32%; 
для заемщиков самой многочисленной категории 'женат/замужем' доля просрочек составила 7,6%, что можно оценить как наименьшую вероятность риска, в совокупности категорий их доля составила около 47%;
долю просрочек для заемщиков категории 'в разводе' и 'вдовец / вдова' можно проигнорировать, в связи с небольшой выборкой;

<div class="alert alert-block alert-danger">
<b>Комментарий ревьюера:</b> 

❌ Над выводами надо поработать))

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [ ]:
#распределим клиентов по категориям в зависимости от дохода
#def categorize_income(worker):
    #try:
        #if worker <= 100000:
            #return 'низкий, до 100 т.р.'     
        #elif 100001 <= worker <= 150000:
            #return 'средний, до 150 т.р.'
        #elif 150001 <= worker <= 200000:
            #return 'высокий, до 200 т.р.'
        #elif worker > 200001:
            #return 'абсолютный, свыше 200 т.р.'
    #except:
        #pass

<div class="alert alert-block alert-warning">
<b>Комментарий ревьюер:</b> 

⚠️ Так уже делал разбивку по доходам, зачем еще делать одну?))

In [ ]:
#извлекаем данные определенных колонок
income_level = data.loc[:,['income_type','total_income', 'debt']]

In [ ]:
#создаем отдельный столбец с категориями, и записываем значения, возвращаемые функцией
income_level['income_category'] = income_level['total_income'].apply(categorize_income)

In [ ]:
#групируем по столбцу и применяем агрегирующую функцию, затем сортируем по убыванию и добавляем форматирование
income_level.groupby(['income_category']).agg({'debt': ('count', 'sum', 'mean')}).droplevel(0, axis=1).reset_index().sort_values('mean', ascending=False).style.format({'mean': '{:.1%}'})

**Вывод:** на основании присвоенных диапазонов данных, для анализа можно выделить две категории заемщиков, имевшие наибольшую вероятность нарушение графика платежей по кредиту, а именно категоия 'C' с доходами до 200 т.р., что структуре просроченных кредитов составило 8,5% и в совокупности категорий ее доля составила около 75%;
и категория 'B' с доходами свыше 200 т.р., что структуре просроченных кредитов составило 7,1% и в совокупности категорий ее доля составила около 24%;

<div class="alert alert-block alert-danger">
<b>Комментарий ревьюера:</b> 

❌ По разбивке, которую делал выше, можно сравнить только две группы B и С))

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [ ]:
#групируем по столбцу и применяем агрегирующую функцию, затем сортируем по убыванию и добавляем форматирование
data.groupby(['purpose_category']).agg({'debt': ('count', 'sum', 'mean')}).droplevel(0, axis=1).reset_index().sort_values('mean', ascending=False).style.format({'mean': '{:.1%}'})

**Вывод:** по результатам исследования можно выделить наиболее многочисленную категорию с наименьшей вероятностью риска просрочки, а именно 'операции с недвижимостью', что в структуре просроченных кредитов составила 7,3% и в совокупности категорий 50%, преимущества кредитования недвижимости заключаются в том, что процентные ставки по ипотечным кредитам гораздо ниже, чем по другим видам кредитных ресурсов, помимо этого они фиксируются на достаточно длительный период, при этом объектом залога выступает недвижимость, в результате чего наблюдается более высокий уровень платежной дисциплины;
еще одна категория с наименьшей вероятностью риска просрочки это 'проведение свадьбы', что структуре просроченных кредитов составило 7,9% и в совокупности категорий ее доля составила около 11%, поженились, гости денег надарили, кредит погасили, все просто;
наибольшая вероятность риска просрочки выявлена в двух категориях 'операции с автомобилем' и 'получение образования', что составило 9,3% и 9,3% соотвественно, и в совокупности категориий их доля составила около 39%, что обусловлено низким уровнем стимуляции отвествеености определенной части заемщиков;

<div class="alert alert-block alert-danger">
<b>Комментарий ревьюера:</b> 

❌ В выводах здесь можно обосновать почему самые надежные кредиторы те, кто берет ипотеку?)) Плюс везде добавить цифр))

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* возможно во время копирования или изменения формата;
тогда только человеческий фактор)

<div class="alert alert-block alert-warning">
<b>Комментарий ревьюера:</b> 

⚠️ А если абстрагироваться от этих данных, то какая может быть причина))

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* когда распределение асимметрично или имеет выбросы, медианное значение является наиболее обоснованным

<div class="alert alert-block alert-success">
<b>Комментарий ревьюера:</b>

✔️ Ответ правильный, на среднее влияют очень сильно выбросы)) 
  </div>

### Шаг 4: общий вывод.


Следует отметить, что предоставление кредитов клиентам третьего класса
связано для банка с серьезным риском.

<div class="alert alert-block alert-danger">
<b>Комментарий ревьюера:</b> 

❌ В выводах уже не используем код, структура выводов следующая:
- Отвечаешь на вопрос "Есть ли зависимость между количеством детей и возвратом кредита в срок?"
- Отвечаешь на вопрос  "Есть ли зависимость между семейным положением и возвратом кредита в срок?"
- Отвечаешь на вопрос  "Есть ли зависимость между уровнем дохода и возвратом кредита в срок?"
- Отвечаешь на вопрос  "Как разные цели кредита влияют на его возврат в срок?"
- Даешь рекомендацией банку по улучшению сбора данных и скоринга.

Общий вывод - резюме этой работы. Большинство заказчиков посмотрят сначала его (а некоторые только его). Чтобы выводы не огорошивали заказчика своей очевидностью, стоит добавить в них цифр, всяких корреляций, процентов итд :) Сделай так, чтобы вся найденная в данных информация была отражена в выводе))

<div class="alert alert-block alert-success">
<b>Комментарий ревьюера:</b>
    
Константин, отлично поработал, видно что умеешь работать с кодом, надо будет оптимизировать везде код и поработать над выводами)) 
<br> Жду исправленного варианта)
  </div>